
body {
    margin: 0;
    
    background-color: rgba(230, 225, 225, 0.426);
}

header {
    background-color: #1d3557;
    color: white;
    text-align: center;
    padding: 20px;
}


nav {
    background-color: #457b9d;
    
    text-align: center;
}

nav a {
    display: inline-block;
    color: rgb(239, 236, 236);
    padding: 12px 20px;
    text-decoration: none;
}

nav a:hover {
    background-color: #1d3557;
}


#container {
    width: 450px;
    margin: 40px auto ;
    padding: 25px;
    background-color: rgb(159, 201, 224);
    border-radius: 8px;
    box-shadow: 0px 0px 10px lightgray;
}


h2 {
    text-align: center;
    color: #1a3254;
}


    input[type="text"],
input[type="email"],
input[type="password"],
input[type="number"],
input[type="date"],




.btn {
    width: 100%;
    padding: 10px;
    background-color: rgb(8, 84, 82);
    color: white;
    border-radius: 8px;
  
    cursor: pointer;
    font-size: 15px;
}

.btn:hover {
    background-color: rgb(17, 153, 146);
}


footer {
    background-color: #1d3557;
    color: white;
    text-align: center;
    padding: 15px;
    margin-top: 40px;
}

footer a {
    color: lightseagreen;
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
}