body {
          
            text-align: center;
            margin-top: 100px;
        }
        .message-box {
            display: inline-block;
            padding: 30px;
            background-color: #d4edda;
            border: 1px solid #c3e6cb;
            border-radius: 8px;
            box-shadow: 0px 0px 10px rgb(227, 225, 225);
        }